.dominuslogo img {
    border-radius: 10%;
    width: 128px;
    height: auto;
    padding: 5%;
}

.info {
    text-align: center;
}

label[for="username"],
label[for="pass"] {
    padding: 0.2%;
    display: block; /* Ensures they are above the inputs */
}

button[for="]