.dominuslogo img{
    border-radius: 10%;
    width: 64px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    font-size: 2rem; 
    white-space: nowrap; 
}

.info {
    text-align: center;
}

.info label {
    display: block;
    margin-top: 10px;
    color: rgb(57, 57, 57);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff, #555555);;
}

footer {
    margin-top: auto;
}

