.dominuslogo img{
    border-radius: 10%;
    width: 64px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase; 
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem !important;
}

.info {
    text-align: center;
}

.info label {
    display: block;
    margin-top: 10px;
    color: rgb(57, 57, 57);
}

html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff, #555555);
    margin: 0; 
    font-family: 'Rubik', sans-serif !important;
}

footer {
    margin-top: auto;
}

.container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

