@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.dominuslogo img{
    border-radius: 10%;
    width: 64px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.dominuslogo img{
    width: 64px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link {
    color: black !important; 
}

.nav-link.px-2.link-primary {
    color: #007bff !important;  
}

.nav-link:hover {
    color: #333 !important;  
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase; 
    margin: 0px 0px 0px 0px !important;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem !important;
}

.info {
    text-align: center;
}

.info label {
    display: block;
    margin-top: 10px;
    color: rgb(57, 57, 57);
    margin-bottom: 1rem;
}

/* html { 
    display: flex;
    flex-direction: column;
    min-height: 100%;   
} */

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff 0%, #cccccc 50%, #888888 100%);
    font-family: 'Rubik', sans-serif !important;
}

footer {
    margin-top: auto;
    margin-bottom: 1rem;
    
}

.container {
    flex-grow: 1; 
}

.btn-lightpink {
    background-color: #ffb6c1;
    color: black;
    border: none;
}

.btn-lightpink:hover {
    background-color: #ff99aa;
}

